<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snack Shack App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/CampDove.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}" />
</head>


<body>
  <div class="container-fluid float-left text-white" style="background-color: #0d1840;">
    <div class="row">
      <div class="col">
        <a href="default"><img  class="logoImage" src="{{ url_for('static',filename='images/upc dove and text logo.png') }}" /></a>
      </div>
      <div class="col-lg-auto">
        <h1>Camp Dove Tabs</h1>
      </div>
      <div class="col">
        <div style="float: right">
          <form action="/logout" method="post">
            <br>
            <button name="Logout" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid float-left">
    <div class="row">
      <div class="col">
        <h2 style="display: inline;">Camper List</h2>
        <input class="mt-2" type="text" id="lastNameSearch" onkeyup="lastNameSearch()" placeholder="Search by Last Name" title="Type in a name" style="float: right;"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="mt-2" type="text" id="churchSearch" onkeyup="churchSearch()" placeholder="Search by Churches" title="Type in a name"/>
        {% if tabError %}
        <br>
        <h2>Error Loading Tabs</h2>
        {% endif %}
        <table id="camperTable" class = "campertable">
          <tr>
            <th style="text-align: center;">Camper Last Name</th>
            <th style="text-align: center;">Camper First Name</th>
            <th style="text-align: center;">Church</th>
            <th style="text-align: center;">Closed</th>
          </tr>
          {% for item in campers %}    
          <tr class="{{campers[loop.index0].closedClass}}" camper_id="{{campers[loop.index0].id}}" onclick="ShowTab(this)">               
            <td class="{{campers[loop.index0].closedClass}}">{{campers[loop.index0].lname}}</td>
            <td class="{{campers[loop.index0].closedClass}}">{{campers[loop.index0].fname}}</td>
            <td class="{{campers[loop.index0].closedClass}}">{{campers[loop.index0].church}}</td>   
                                                                                                
            <td style="text-align: center;"><input type="checkbox" id="no_limit" name="no_limit" disabled="disabled" {% if campers[loop.index0].TabClosed %} checked{% endif %}/></td>
            <form id="show_tab_{{campers[loop.index0].id}}" action="{{ url_for('show_tab') }}" method="post">
                <input type="hidden" id="id" name="id" value="{{campers[loop.index0].id}}">
                <button name="AddTransaction" type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;">Tab</button>  
            </form>

          </tr>
          {% endfor %}    
        </table>
      </div>
      <div class="col">
        <h2>Open Tab</h2>
        <br>
        <form action="{{ url_for('add_tab') }}" method="post">
          <table class = "snackshacktable">
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="camper_first_name" name="camper_first_name" placeholder="First Name"></td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="camper_last_name" name="camper_last_name" placeholder="Last Name" required></td>
            </tr>
            <tr>        
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;<input type="list" list="churches" id="church" name="church" placeholder="Church Name">
              <datalist id="churches">
                {% for item in churches %}
                  <option value="{{churches[loop.index0]}}">
                {% endfor %}
              </datalist>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" list="contact_names" id="contact_name" name="contact_name"  placeholder="Contact Name">
              <datalist id="contact_names">
                {% for item in contact_names %}
                  <option value="{{contact_names[loop.index0]}}">
                {% endfor %}
              </datalist>
            </td>           
            </tr>
            <tr>
              <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="list" list="worker_names" id="worker_name" name="worker_name" placeholder="Snach Shack Worker" required>
                <datalist id="worker_names">
                    <option value="Kevin Wilmoth"></option>
                    <option value="Mike Dearth"></option>
                    <option value="Brad Hoffman"></option>
                    <option value="Other"></option>
                </datalist>
              </td>
              <td>
                  $ &nbsp;<input min="0.00" step="0.01" max="500" type="number" id="weekly_limit" name="weekly_limit" title="Weekly Limit" placeholder="Weekly Limit" style="width: 202px">
              </td>
            </tr>
            <tr>
              <td>$ &nbsp;<input min="0.00" step="0.01" max="500" type="number" id="prepaid_amount" name="prepaid_amount" title="Prepaid Amount" placeholder="Prepaid Amount" style="width: 202px"></td>
              <th>
                <label for="no_limit">No Limit</label>
                &nbsp;&nbsp;<input type="checkbox" onchange="valueChanged()" id="no_limit" name="no_limit" value="True">
              </th>
            </tr>
            <tr>
            </tr>
            <tr>
              <td><button name="Add Camper Tab" type="submit">Add Camper Tab</button></td>
              <td></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>  

<script type="text/javascript" src="{{ url_for('static',filename='scripts/CampDove.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>