<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <h1>Welcome to the Camp Dove Church Camper List</h1>

    <table>
        <tr>
          <th>Camper First Name</th>
          <th>Camper Last Name</th>
          <th>Church</th>
          <th>Contact Name</th>
          <th>Add Camper</th>
        </tr>
        {% for item in churchName %}    
        <tr>               
            <td>{{camperFirstName[loop.index0]}}</td>
            <td>{{camperLastName[loop.index0]}}</td>
            <td>{{church[loop.index0]}}</td>  
            <td>{{contactName[loop.index0]}}</td>   
            <td></td>             
        </tr>
        {% endfor %}    
        <tr>           
            <form action="{{ url_for('add_church_contact') }}" method="get">
                <td><input type="text" id="camper_first_name" name="camper_first_name"></td>
                <td><input type="text" id="camper_last_name" name="camper_last_name"></td>
                <td><input type="text" id="chuch" name="church"></td>  
                <td><input type="text" id="contact_name" name="contact_name"></td> 
                <td><button name="Add" type="submit">Add</button></td>         
            </form>     
        </tr>
      </table>
</body>
</html>