<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <h1>Welcome to the Camp Dove Church Contact List</h1>

    <table>
        <tr>
          <th>Church Name</th>
          <th>Church Contact</th>
          <th>Church Contacat Phone Number</th>
          <th>Church Contact Email Address</th>
          <th>Add Church</th>
        </tr>
        {% for item in churchName %}    
        <tr>               
            <td>{{churchName[loop.index0]}}</td>
            <td>{{churchContactName[loop.index0]}}</td>
            <td>{{churchContactPhone[loop.index0]}}</td>  
            <td>{{churchContactEmail[loop.index0]}}</td>   
            <td></td>             
        </tr>
        {% endfor %}    
        <tr>           
            <form action="{{ url_for('add_church_contact') }}" method="get">
                <td><input type="text" id="church_name" name="church_name"></td>
                <td><input type="text" id="church_contact" name="church_contact"></td>
                <td><input type="text" id="church_phone" name="church_phone"></td>  
                <td><input type="text" id="church_email" name="church_email"></td> 
                <td><button name="Add" type="submit">Add</button></td>         
            </form>     
        </tr>
      </table>
</body>
</html>