<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <h1>Welcome to the Camp Dove Contact List</h1>

    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email Address</th>
          <th>Add User</th>
        </tr>
        {% for item in FirstName %}    
        <tr>               
            <td>{{FirstName[loop.index0]}}</td>
            <td>{{LastName[loop.index0]}}</td>
            <td>{{Phone[loop.index0]}}</td>  
            <td>{{Email[loop.index0]}}</td>   
            <td></td>             
        </tr>
        {% endfor %}    
        <tr>           
            <form action="{{ url_for('add_contact') }}" method="get">
                <td><input type="text" id="fname" name="fname"></td>
                <td><input type="text" id="lname" name="lname"></td>
                <td><input type="text" id="phone" name="phone"></td>  
                <td><input type="text" id="email" name="email"></td> 
                <td><button name="Add" type="submit">Add</button></td>         
            </form>     
        </tr>
      </table>
</body>
</html>