<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/CampDove.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='images/favicon-32x32.png') }}" />
</head>
<body>
    <div class="container-fluid float-left text-white" style="background-color: #0d1840;">
        <div class="row">
          <div class="col">
            <a href="default"><img  class="logoImage" src="{{ url_for('static',filename='images/upc dove and text logo.png') }}" /></a>
          </div>
          <div class="col-lg-auto">
            <h1>Welcome to Camp Dove</h1>
          </div>
          <div class="col">
            <div style="float: right">
              <form action="/" method="post">
                <label for="username" >User name: </label>
                <input type="text" name="username" required/>
                <br>
                <label for="passwprd">Password: &nbsp;</label>
                <input type="password" name="password" required/>
                <input type="submit" />
              </form>
           </div>
          </div>
        </div>
    </div>
    <div class="container-fluid float-left text-white bg-secondary-color">
      <div class="row">
        <div class="col">
          <h3 style="color: black;">Daily Schedule</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Rise & Shine</th>
                <td>07:30am</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Breakfast</th>
                <td>08:00am</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Ready Set Go</th>
                <td>09:00am</td>
                <td>Tabernacle</td>
              </tr>
              <tr>
                <th scope="row">Morning Class</th>
                <td>09:15am</td>
                <td>Gymnasium (Next to the Playground)</td>
              </tr>
              <tr>
                <th scope="row">Recreation</th>
                <td>10:00am</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Choir Practice</th>
                <td>11:00am</td>
                <td>Tabernacle</td>
              </tr>
              <tr>
                <th scope="row">Lunch</th>
                <td>12:00pm</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Mid-Day Class</th>
                <td>01:00pm</td>
                <td>Tabernacle</td>
              </tr>
              <tr>
                <th scope="row">Fun Time</th>
                <td>01:45pm</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Afternoon Class</th>
                <td>03:00pm</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Supper</th>
                <td>04:30pm</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Evening Service</th>
                <td>07:00pm</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Lights Out</th>
                <td>10:00pm</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid float-left text-white" style="background-color: #0d1840;">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-auto">
          <h1>Snack Shack Menu</h1>
        </div>
        <div class="col">
        </div>
      </div>
  </div>
    <div class="container-fluid float-left">
        <div class="row">
          <div class="col">
            <h3>Candy Bars</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">M & M's</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Peanut M & M's</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Reese's Cup</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Reese's Fast Break</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Hershey Bar</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Payday</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Milky Way</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Kit Kat</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Nestle's Crunch</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Skittles</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Sour Skittles</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Sour Patch Kids</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Swedish Fish</th>
                  <td>$1.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <h3>Drinks and Chips</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Water</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Sprite</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Root Beer</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Sunkist</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Mountain Dew</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Dr. Pepper</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Diet Coke</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Coke</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Pepsi</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Doritos</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Grippos</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Cheetos</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Lays</th>
                  <td>$0.50</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <h3>Other Items</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Tic Tacs</th>
                  <td>$1.00</td>
                </tr>
                <tr>
                  <th scope="row">Fruit Snacks</th>
                  <td>$0.75</td>
                </tr>
                <tr>
                  <th scope="row">Ring Pops</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Drumsticks</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Fudge Bars</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Ice Cream Bars</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Ice Cream Sandwiches</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Pickles</th>
                  <td>$0.50</td>
                </tr>
                <tr>
                  <th scope="row">Slim Jims</th>
                  <td>$0.25</td>
                </tr>
                <tr>
                  <th scope="row">Popsicles</th>
                  <td>$0.25</td>
                </tr>
                <tr>
                  <th scope="row">Cow Tales</th>
                  <td>$0.25</td>
                </tr>
                <tr>
                  <th scope="row">Airheads</th>
                  <td>$0.25</td>
                </tr>
                <tr>
                  <th scope="row">LaffyTaffy</th>
                  <td>$0.05</td>
                </tr>
                <tr>
                  <th scope="row">Twizzlers</th>
                  <td>$0.05</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>