<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
        }
        
        td, th {
          border: 1px solid #FAF3E3;
          text-align: left;
          padding: 8px;
          background-color: #FAF3E3;
          color: #1A4D2E;
        }
        h1, h2 {
          color: #000000;
        }

        .camperTable tr:hover td{
          background-color:#999999;
        }

        .leftSide {
          float: left;
          width: 700px;
        }

        .addCamper {
        }

        .tabList {
        }

        .tabDetail{
            float: right;
        }
        </style>
</head>


<body style="background-color: #FAF3E3">
    <h1 text-align="center">Welcome to the Camp Dove Tab List</h1>

    <div class="leftSide">
      <div class="addCamper">
      <h2>Add Camper Form</h2>
        <form action="{{ url_for('add_tab') }}" method="post">
          <table>
            <tr>
              <td><input type="text" id="camper_first_name" name="camper_first_name" placeholder="First Name" required></td>
              <td><input type="text" id="camper_last_name" name="camper_last_name" placeholder="Last Name" required></td>
            </tr>
            <tr>        
              <td><input type="text" id="church" name="church" placeholder="Church Name" required></td>
              <td><input type="text" id="contact_name" name="contact_name"  placeholder="Contact Name" required></td>
            </tr>
            <tr>
              <td><input type="text" id="worker_name" name="worker_name" placeholder="Snach Shack Worker" required></td>
              <td></td>
            </tr>
            <tr>
              <th><label for="weekly_limit">Weekly Limit</label></th>
              <td><input min="0.00" step="0.01" max="500" type="number" id="weekly_limit" name="weekly_limit"></td>
            </tr>
            <tr>
              <th><label for="prepaid_amount">Prepaid Amount</label></th>
              <td><input min="0.00" step="0.01" max="500" type="number" id="prepaid_amount" name="prepaid_amount"></td>
            </tr>
            <tr>
              <th><label for="no_limit">No Limit</label></th>
              <td><input type="checkbox" id="no_limit" name="no_limit" value="True"></td>
            </tr>
            <tr>
              <td><button name="Add Camper Tab" type="submit">Add Camper Tab</button></td>
              <td></td>
            </tr>
            </form>
          </table>
        </form>
      </div>

    <div class="tabList">
      <h2>Camper List</h2>
        <table class="camperTable">
          <tr>
            <th>Camper Last Name</th>
            <th>Camper First Name</th>
            <th>Church</th>
            <th>Delete Tab</th>
            <th>Tab</th>
          </tr>
          {% for item in campers %}    
          <tr camper_id="{{campers[loop.index0].id}}" onclick="ShowTab(this)">               
            <td>{{campers[loop.index0].lname}}</td>
            <td>{{campers[loop.index0].fname}}</td>
            <td>{{campers[loop.index0].church}}</td>  
            <td>
                <form action="{{ url_for('delete_tab') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{campers[loop.index0].id}}">
                    <button name="Delete" type="submit">Delete</button>  
                </form>
            </td> 
            <td>
                <form id="show_tab" action="{{ url_for('show_tab') }}" method="post">
                    <input type="hidden" id="id" name="id" value="{{campers[loop.index0].id}}">
                    <button name="AddTransaction" type="submit">Tab</button>  
                </form>
          </td> 
          </tr>
          {% endfor %}    
        </table>
    </div>
  </div>
  <div class="tab_detail">

    <table>
      <tr>
          <th>Camper Name</th>
          <td>{{camperFirstName}}&nbsp;{{camperLastName}}</td>
          <th>No Limit</th>
          <td>{{NoLimit}}</td>
      </tr>
      <tr>
          <th>Home Church</th>
          <td>{{homeChurch}}</td>
          <th>Daily Limit Amount</th>
          <td>{{dailyLimit}}</td>
      </tr>
      <tr>
          <th>Contact Name</th>
          <td>{{contactName}}</td>
          <th>Weekly Limit Amount</th>
          <td>{{weeklyLimit}}</td>
      </tr>
      <tr>
          <th>Snack Shack Worker</th>
          <td>{{workerName}}</td>
          <th>Prepaid Amount</th>
          <td>{{prepaidAmount}}</td>
      </tr>   
  </table>
  <h2>Transactions</h2>
  <table>
      <tr>
          <th>Transaction Number</th>
          <th>Transaction Day</th>
          <th>Transaction Amount</th>
          <th>Weekly Total</th>
          <th>Delete</th>
      </tr> 
      {% for item in transactionDays %}    
      <tr>               
          <td>{{transactionNumbers[loop.index0]}}</td>
          <td>{{transactionDays[loop.index0]}}</td>
          <td>{{transactionAmounts[loop.index0]}}</td>  
          <td>{{transactionTotals[loop.index0]}}</td> 
              <form action="{{ url_for('delete_transaction') }}" method="post">
                  <input type="hidden" id="transaction_id" name="transaction_id" value="{{transactionIds[loop.index0]}}">
                  <input type="hidden" id="id" name="id" value="{{id}}">
                  <td><button name="Delete" type="submit">Delete</button></td>   
              </form>  
      </tr>
      {% endfor %} 
  </table>
  <h2>New Transaction</h2>
  <form action="{{ url_for('add_transaction') }}" method="post">
      <label for="transaction_amount">Transaction Amount:</label>
      <input type="text" id="transaction_amount" name="transaction_amount">
      <input type="hidden" id="id" name="id" value="{{id}}">
      <td><button name="Add" type="submit">Add</button></td>   
  </form>  

  </div>


  <script>
    function ShowTab(row) {
      var form = document.getElementById('show_tab');
      form.submit();
    }
  </script>
</body>
</html>