<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Dove App</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <h1>Welcome to the Camp Dove Tab List</h1>

    <table>
        <tr>
            <th>Camper Name</th>
            <td>{{camperFirstName}}&nbsp;{{camperLastName}}</td>
            <th>No Limit</th>
            <td>{{NoLimit}}</td>
        </tr>
        <tr>
            <th>Home Church</th>
            <td>{{homeChurch}}</td>
            <th>Daily Limit Amount</th>
            <td>{{dailyLimit}}</td>
        </tr>
        <tr>
            <th>Contact Name</th>
            <td>{{contactName}}</td>
            <th>Weekly Limit Amount</th>
            <td>{{weeklyLimit}}</td>
        </tr>
        <tr>
            <th>Snack Shack Worker</th>
            <td>{{workerName}}</td>
            <th>Prepaid Amount</th>
            <td>{{prepaidAmount}}</td>
        </tr>   
    </table>
    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Transaction Number</th>
            <th>Transaction Day</th>
            <th>Transaction Amount</th>
            <th>Weekly Total</th>
            <th>Delete</th>
        </tr> 
        {% for item in transactionDays %}    
        <tr>               
            <td>{{transactionNumbers[loop.index0]}}</td>
            <td>{{transactionDays[loop.index0]}}</td>
            <td>{{transactionAmounts[loop.index0]}}</td>  
            <td>{{transactionTotals[loop.index0]}}</td> 
                <form action="{{ url_for('delete_transaction') }}" method="post">
                    <input type="hidden" id="transaction_id" name="transaction_id" value="{{transactionIds[loop.index0]}}">
                    <input type="hidden" id="id" name="id" value="{{id}}">
                    <td><button name="Delete" type="submit">Delete</button></td>   
                </form>  
        </tr>
        {% endfor %} 
    </table>
    <h2>New Transaction</h2>
    <form action="{{ url_for('add_transaction') }}" method="post">
        <label for="transaction_amount">Transaction Amount:</label>
        <input type="text" id="transaction_amount" name="transaction_amount">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <td><button name="Add" type="submit">Add</button></td>   
    </form>  
</body>
</html>