.topBanner {
    background-color: darkblue;
    color: white;
    width: 100%;
    float: right;
}

.logoImage {
    height: 75px;
}

.snackshacktable {
  font-family: arial, sans-serif;
  border-width:1px;
  border-style:solid;
  border-color:black;
  width: 100%;
}

.campertable {
  font-family: arial, sans-serif;
  border-width:1px;
  border-style:solid;
  border-color:black;
  width: 100%;
}

.snackshacktable th {
  border-width:1px;
  border-style:solid;
  border-color:black;
  padding: 8px;
  background-color: #FAF3E3;
  color: #1A4D2E;
}

.snackshacktable td {
  border-width:1px;
  border-style:solid;
  border-color:black;
  text-align: left;
  padding: 8px;
  background-color: #FAF3E3;
  color: #1A4D2E;
 }

.campertable th {
  border-width:1px;
  border-style:solid;
  border-color:black;
  padding: 8px;
  background-color: #FAF3E3;
  color: #1A4D2E;
}

.campertable td {
  border-width:1px;
  border-style:solid;
  border-color:black;
  text-align: left;
  padding: 8px;
  background-color: #FAF3E3;
  color: #1A4D2E;
 }

  .campertable tr:hover td{
    background-color:#999999;
  }

  .warning {
      background-color:yellow;
  }